# Compiled class file
*.class

# Log file
.gradle/
build/
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar

@@ -18,7 +11,9 @@
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
toml.md
toml.pdf
NewAnalyzer_r0.docx
Settings_r4.docx